.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: monospace;
    font-size: 26px;
    border: 5px solid #bada55;
}

.morpion {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vh;
    height: 50vh;
    border:  5px solid #b000b5;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1/3 * 100% - 10px);
    height: calc(1/3 * 100% - 10px);
    border: 5px solid #fb1;
}